* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: #24292e!important;
}


body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif!important;
    color: #2B3036!important;
}

.main-body {
    background-color: #f6f8fa;
}

