.bubblebase {
    font-family: 'Montserrat', sans-serif;
}

.user-login-nav {
    color:#ffffff;
    li {
        margin-right: 1rem;
        cursor: pointer;
    }
}

.side-nav {
    background-color: #ffffff;
}