<h3>Multiple Choice Question text:</h3>
<button type="button" class="btn btn-primary mr-3">A</button>
<button type="button" class="btn btn-primary mr-3">B</button>
<button type="button" class="btn btn-primary mr-3">C</button>
<button type="button" class="btn btn-primary">D</button>