<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Files -->
  {{!-- <link rel="stylesheet" href="/assets/css/bootstrap-4.4.1.min.css"> --}}
  <link rel="stylesheet" href="/assets/css/fontawesome-free-5.12.1.all.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/custom.css">

  <title>Test Prep Scoring</title>
</head>
<body>
  {{{ body }}}

  <!-- JavaScript Files -->
  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/popper-1.16.0.min.js"></script>
  <script src="/assets/js/bootstrap-4.4.1.min.js"></script>
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/bubblesheet.js"></script>
</body>
</html>