{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            {{> side-nav}}
        </div>

        <div class="col-lg-9 col-md-8">
            <form class="text-center mt-5">
                {{> multiple-choice}}
                {{> number}}
                {{> array}}
                {{> range}}
            </form>
        </div>
    </div>
</div>