<h1>Welcome to the SAT prep grading app.</h1>
<p class="heading">Please log in above or choose an exam to the left to get started.</p>
<p><span class="font-weight-bold">Note:</span> When entering input for the A, B, C, or D forms pressing A, B, C, or D on your keyboard enters input and the Backspace key moves backwards.</p>
