<div class="modal fade" id="edit-user-info-modal" tabindex="-1" role="dialog" aria-labelledby="editUserInfoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserInfoModalTitle">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-user-form">
        <div class="modal-body">
          <div class="form-group">
            <label for="edit-firstName">First Name:</label>
            <input type="text" class="form-control" id="edit-firstName">
            <p id="invalid-edit-firstName" class="text-danger d-none">Please enter your first name.</p>
          </div>
          <div class="form-group">
            <label for="edit-lastName">Last Name:</label>
            <input type="text" class="form-control" id="edit-lastName">
            <p id="invalid-edit-lastName" class="text-danger d-none">Please enter your last name.</p>
          </div>
          <div class="form-group">
            <label for="edit-email">Email address</label>
            <input type="email" class="form-control" id="edit-email">
            <p id="invalid-edit-email" class="text-danger d-none">Please enter a valid email address.</p>
          </div>
          <div class="form-group">
            <label for="edit-phone">Phone Number</label>
            <input type="tel" class="form-control" id="edit-phone">
            <p id="invalid-edit-phone" class="text-danger d-none">Please enter a valid 10 digit phone number.</p>
          </div>
          <div class="form-group">
            <label for="edit-password">Enter Your Password</label>
            <input type="password" class="form-control" id="edit-password">
            <p id="password-edit-blank" class="text-danger d-none">Please enter your password to update your information.</p>
            <p id="current-password-edit-mismatch" class="text-danger d-none">Your password must match the current password to edit.</p>
          </div>
          <p class="font-weight-bold">Update Your Password Here:</p>
          <div class="form-group">
            <label for="edit-new-password">New Password</label>
            <input type="password" class="form-control" id="edit-new-password">
            {{!-- <p id="password-edit-new-blank" class="text-danger d-none">Your new password cannot be blank.</p> --}}
          </div>
          <div class="form-group">
            <label for="confirm-edit-password">Confirm Your New Password</label>
            <input type="password" class="form-control" id="confirm-edit-password">
            <p id="password-edit-mismatch" class="text-danger d-none">Your passwords do not match.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="editClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="saveProfileChanges" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>