<div class="modal fade" id="edit-user-info-modal" tabindex="-1" role="dialog" aria-labelledby="editUserInfoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserInfoModalTitle">Edit Your Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-user-form">
        <div class="modal-body">
          <div class="form-group">
            <label for="edit-firstName">First Name:</label>
            <input type="text" class="form-control" id="edit-firstName">
          </div>
          <div class="form-group">
            <label for="edit-lastName">Last Name:</label>
            <input type="text" class="form-control" id="edit-lastName">
          </div>
          <div class="form-group">
            <label for="edit-email">Email address</label>
            <input type="email" class="form-control" id="edit-email">
            <p id="invalid-edit-email" class="text-danger d-none">Please enter a valid email address.</p>
          </div>
          <div class="form-group">
            <label for="edit-phone">Phone Number</label>
            <input type="tel" class="form-control" id="edit-phone">
            <p id="invalid-edit-phone" class="text-danger d-none">Please enter a valid 10 digit phone number.</p>
          </div>
          <div class="form-group">
            <label for="edit-password">Password</label>
            <input type="password" class="form-control" id="edit-password">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Your Password</label>
            <input type="password" class="form-control" id="confirm-edit-password">
          </div>
          <p id="password-edit-mismatch" class="text-danger d-none">Your passwords do not match.</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="regClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>