.side-nav {
    border-right: 1px solid #ccc;
}
.vertical-text {
    transform: rotate(270deg);
}
td,th {
    line-height: 1rem ;
}

.mc-letter-btn {
    border-radius: 50%;
    background-color:#f2f2f2;
    border: none;
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
}

.mc-letter-btn.selected {
    background-color:#61e08b;
}