{{!-- <h3 class="mt-3">Number Question text:</h3> --}}

<tr id="{{dataValues.section}}-{{dataValues.question_number}}" class="q-row">
    <td class="gi-bs-qnum">{{dataValues.question_number}})</td>
    <td class="gi-bs-choices">
        <div class="form-row align-items-center number-choices">
            <div class="col-auto">
                <select class="form-control custom-select-sm">
                    <option></option>
                    <option>.</option>
                    <option>/</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="form-control custom-select-sm">
                    <option></option>
                    <option>.</option>
                    <option>/</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="form-control custom-select-sm">
                    <option></option>
                    <option>.</option>
                    <option>/</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="form-control custom-select-sm">
                    <option></option>
                    <option>.</option>
                    <option>/</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
        </div>
    </td>
    <td class="gi-answer"></td>
</tr>