<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary mr-2 mt-2" id="logout-button">Log Out</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-success mr-2 mt-2" data-toggle="modal" data-target="#signin-modal">Sign In</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#register-modal">Register</button>
      </li>
    </ul>
  </div>
</nav>