<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav">
  <a class="bubblebase navbar-brand" href="/"><i class="fas fa-database"></i></i>ubbleBase.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto user-login-nav">
      <li class="nav-item active">
        <a id="question-database"></i>Question Database</a>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" data-target="#edit-user-info-modal"><i class="fas fa-user-edit"></i> Edit User Info</a>
      </li>
      <li class="nav-item">
        <a id="logout-button"><i class="fas fa-sign-out-alt"></i> Log Out</a>
      </li>
      <li class="nav-item">
        <a id="signin-button" data-toggle="modal" data-target="#signin-modal"><i class="fas fa-sign-in-alt"></i> Sign In</a>
      </li>
      <li class="nav-item">
        <a id="register-button" data-toggle="modal" data-target="#register-modal"><i class="fas fa-user-graduate"></i> Register</a>
      </li>
    </ul>
  </div>
</nav>