<div class="side-nav py-4 h-100">

  <h4>Select a Test</h4>
  <select id="exam-select" class="custom-select">
    <option selected>Choose an Exam</option>
  </select>

  <select id="section-select" class="custom-select d-none mt-3">
    <option selected>All Sections</option>
  </select>

  <a id="makeBubbleBtn" class="btn btn-outline-primary mt-3 d-none" href="">Generate Bubblesheet</a>

<h4 class="mt-5">Testing History</h4>

{{> nav/user-exams-nav}}

</div>