<ul class="nav side-nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>

<select id="exam-select" class="custom-select">
  <option selected>Choose an Exam</option>
</select>

<select id="section-select" class="custom-select d-none mt-3">
  <option selected>All Sections</option>
</select>

<button id="makeBubbleBtn" class="btn btn-outline-primary mt-3 d-none" href="/bubblehseet">Generate Bubblesheet</button>