<br>
<br>
<div id="prevExamSection" class="container-fluid border rounded">
    <form>
      <div class="form-group">
        <label for="formControlInput1">Previous tests for: </label>
        <input type="email" class="form-control text-center" id="formControlInput1" value="Harry Potter" readonly>
      </div>
      <div class="form-group">
        <label for="formControlSelect1">Select a Previously Taken Exam</label>
        <select class="custom-select" id="formControlSelect1">
          <option>---</option>
        </select>
      </div>
      <div class="form-group d-none" id="formSections">
        <label for="formControlSelect2">Choose a section to review report</label>
        <select class="custom-select" id="formControlSelect2">
          <option>---</option>
          <option>all</option>
        </select>
      </div>
    </form>
</div>
<br>
<br>
